body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f7f8;
    color: #2e2e2e;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #2b8a3e;
    font-size: 2rem;
}

a {
    color: white;
    background-color: #4caf50;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    background-color: #388e3c;
}

.product-form {
    background-color: white;
    border-radius: 10px;
    padding: 30px 40px;
    margin-bottom: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.product-form h2{
    text-align:center;
    margin-bottom: 20px;
    color: #2e7d32
}

.chat-btn{
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: backgrond-color 0.3 ease;
}

.chat-btn:hover{
    background-color: #388e3c;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    height: 80px;
}

.nav-icon img {
    filter: brightness(0) invert(1);
    margin-left: 10px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-group label {
    margin-left: 5px;
    font-weight: normal;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #2e7d32;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    max-width: 60%;
}

.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
    text-align: right;
}

.received {
    background-color: #f1f0f0;
    align-self: flex-start;
    text-align: left;
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    width: 250px;
    display: inline-block;
    vertical-align: top;
}

.product-title {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
}

.btn-cart, .btn-buy {
    padding: 8px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.btn-cart {
    background-color: #28a745;
}

.btn-cart, .btn-buy:hover {
    opacity: 0.85;
}